body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 10px;
  }
  .header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px; 
  }
  .strip-container {
    width: 20px; /* Adjust the width of the left strip container */
    background-color: #333; /* Background color of the left strip */
    margin-right: 10px; /* Adjust the margin between the strip and the rounded container */
  }

   .rounded-container {
    border-radius: 33px; /* Adjust the value to control the roundness */
    overflow: hidden; /* Ensures the content doesn't overflow outside the rounded corners */
    background-color: #8E4574; /* Background color of the container */
    padding: 10px; /* Adjusted padding for a smaller container */
    margin-left: 10px; /* Adjusted margin for spacing between the logo and the container */
    box-sizing: border-box; /* Include padding and border in the total width */
  }

  /* Style the links inside the container individually */
  .rounded-container a {
    display: inline-block; /* Display links side by side */
    padding: 8px 16px; /* Adjusted padding for smaller links */
    font-size: 14px; /* Adjusted font size for smaller links */
    margin: 5px;
    text-decoration: none;
    color: #333; /* Link color */
  }

  .rounded-container a:nth-child(1) {
    background-color: #FFBDF6; 
    border-radius: 16px;
  }

  .rounded-container a:nth-child(2) {
    background-color: #FFDEFB;
    border-radius: 16px;
  }
  .rounded-container a:nth-child(3) {
    background-color: #FFDEFB; 
    border-radius: 16px;
  }

  .rounded-container a:hover {
    background-color: #fefefe
  }

  .logo {
    max-width: 80px; /* Set the maximum width of the logo */
    height: auto; /* Maintain the aspect ratio of the logo */
  }

.user-profile {
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  /* background-color: #8E4574; Background color of the user profile */
  /* border-top-left-radius: 20px; Adjust border radius as needed */ 
  /* z-index: 1000; /* Ensure it's above other content */
}

.user-profile .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-profile .user-name {
  font-size: 24px;
  margin: 0;
  color: #0b0000; /* Text color of the user name */
}

/* Adjustments for small screens (optional) */
@media screen and (max-width: 600px) {
  .user-profile {
      position: static;
      width: 100%;
      border-top-left-radius: 0;
  }
}
